@using GovUk.Education.ManageCourses.Ui.ViewModels
@model GovUk.Education.ManageCourses.Ui.ViewModels.CourseDetailsViewModel

@{
    Layout = "_Layout";
}
<h1 class="heading-xlarge">
    @Model.CourseTitle
</h1>

<p>
    <a href="/preview/biology">Preview course</a>
</p>

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="course-parts course-parts--large">
            <ul class="course-parts-items">
                <li class="course-parts-item">
                    <h3 class="course-part-task">
                        Details from UCAS
                    </h3>

                    <div style="clear: left; padding-top: 20px" class="add-top-margin">
                        <p>Course information that we’ve received from UCAS based on your submissions to them. If you want to change these you’ll need to use UCAS web-link.</p>
                        <p>Multiple UCAS courses for the same subject are combined into a single subject page with different course options.</p>
                    </div>

                    <table class="ucas-info-table">
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Type</th>
                                <th>Code</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach(var subject in Model.Subjects) {
                                <tr>
                                    <td>@subject.Subject</td>
                                    <td>@subject.Type</td>
                                    <td>@subject.Code</td>
                                
                                    <td><a href="/course/biology/from-ucas#32Q7">View</a></td>
                                </tr>
                                }

                        </tbody>
                    </table>

                </li>
                <li class="course-parts-item">
                    <h3 class="course-part-task">
                        About this course
                    </h3>
                    <a class="course-part-task-action" href="/course/biology/about-this-course">Edit</a>
                    <dl class="course-part-tasks">

                            <dt class="course-part-label">
                                Course webpage
                            </dt>

                            <dd class="course-part-value course-part-value--empty">
                                This field is empty
                            </dd>



                            <dt class="course-part-label">
                                About this course
                            </dt>

                            <dd class="course-part-value course-part-value--empty">
                                This field is empty
                            </dd>


                    </dl>
                </li>
                <li class="course-parts-item">
                    <h3 class="course-part-task">
                        About your organisation
                    </h3>
                    <a class="course-part-task-action" href="/course/biology/about-this-provider">Edit</a>
                    <dl class="course-part-tasks">

                            <dt class="course-part-label">
                                About your organisation
                            </dt>

                            <dd class="course-part-value course-part-value--empty">
                                This field is empty
                            </dd>



                            <dt class="course-part-label">
                                Training with a disability
                            </dt>

                            <dd class="course-part-value course-part-value--empty">
                                This field is empty
                            </dd>

                        
                            <dt class="course-part-label">
                                Interview process
                            </dt>

                            <dd class="course-part-value course-part-value--empty">
                                This field is empty
                            </dd>

                            <dt class="course-part-label">
                                How school placements work
                            </dt>

                            <dd class="course-part-value course-part-value--empty">
                                This field is empty
                            </dd>


                    </dl>
                </li>
                <li class="course-parts-item">
                    <h3 class="course-part-task">
                        Course requirements
                    </h3>
                    <a class="course-part-task-action" href="/course/biology/requirements">Edit</a>

                    <dl class="course-part-tasks">

                            <dt class="course-part-label">
                                Qualifications needed
                            </dt>

                            <dd class="course-part-value course-part-value--empty">
                                This field is empty
                            </dd>

                            <dt class="course-part-label">
                                Personal qualities
                            </dt>

                            <dd class="course-part-value course-part-value--empty">
                                This field is empty
                            </dd>
                    
                            <dt class="course-part-label">
                                Other requirements
                            </dt>

                            <dd class="course-part-value course-part-value--empty">
                                This field is empty
                            </dd>


                    </dl>
                </li>


                <li class="course-parts-item">
                    <h3 class="course-part-task">
                        Salary
                    </h3>
                    <a class="course-part-task-action" href="/course/biology/salary-options">Edit</a>
                    <dl class="course-part-tasks">

                            <dt class="course-part-label">
                                Earn a salary while you train
                            </dt>

                            <dd class="course-part-value course-part-value--empty">
                                This field is empty
                            </dd>


                    </dl>
                </li>

            </ul>
        </div>
        <form action="/course/biology" method="post">
            <input type="hidden" name="biology-qa" value="true">
            <input type="submit" value="Send to DfE" class="button">
        </form>
    </div>
</div>