@model OrganisationCourses

@{
    Layout = "_Layout";
}

<h1 class="heading-xlarge">
    <span class="heading-secondary">@Model.OrganisationName</span>
    Courses
</h1>

<div class="grid-row add-double-bottom-margin">
    <div class="column-two-thirds">
        <p class="lede">Multiple UCAS courses for the same subject are combined into a single subject page. For example, courses with and without a salary.</p>
    </div>
</div>


    @foreach (var providerCourse in Model.ProviderCourses)
    {

        <h3 class="heading-medium">

            @providerCourse.AccreditingProviderName
        </h3>

        <ul class="list listing-example">
            @foreach (var course in providerCourse.CourseDetails)
            {
            <li>
                <a href="@Url.Action("details", "course", new {AccreditingProviderId = providerCourse.AccreditingProviderId, CourseTitle = course.CourseTitle})">@course.CourseTitle</a>
            </li>
            }
        </ul>
    }
        
