// Document list pattern

// Spacing to the left of the task list
$course-parts-indent: 35px;

// .course-parts {
//   margin-top: $gutter;
//   @include media(tablet) {
//     margin-top: ($gutter * 1.5);
//   }
// }

.course-parts-section {
    display: table;
    @include bold-36;
    margin-bottom: 15px;
    padding-bottom: ($gutter / 6);
}

.course-parts-items {
    margin-bottom: $gutter;

    @include media(tablet) {
        margin-bottom: ($gutter * 2);
    }
}

.course-parts-item {
    padding-top: $gutter;
    padding-bottom: $gutter;
    @extend %contain-floats;
}

.course-parts-item:first-child {
    border-top: 1px solid $border-colour;
}

.course-part-task {
    width: $two-thirds;
    float: left;
    @include bold-24;
    margin: 0;
}

.course-part-task-action {
    float: right;
    margin-right: 0;
    padding-top: 3px;
}

.course-part-tasks {
    margin-top: 60px;

    @include media(desktop) {
        display: table;
        width: 100%;
    }

    > * {
        position: relative;

        @include media(desktop) {
            display: table-row;
        }

        > * {
            display: block;

            @include media(desktop) {
                display: table-cell;
                padding: em(12, 19) em(20, 19) em(9, 19) 0; // copied from Elements' td padding
                margin: 0;
            }
        }

        @include media(desktop) {
            &:first-child > * {
                padding-top: 0;
            }
        }
    }

    .course-part-label {
        float: none;
        display: block;
        font-weight: bold;
        padding-bottom: 5px;
        // @include media(desktop) {
        //   width: 30%;
        // }
    }

    > *:first-child .course-part-label {
        margin-top: 0;
    }

    .course-part-value {
        float: none;
        display: block;
        padding: 0;
        margin-bottom: 10px;

        &--empty {
            color: $grey-1;
        }
    }
}
