@{
  Layout = "_Layout";
}

@await RenderSectionAsync("breadcrumbs", required: true)

@Html.Partial("~/Views/Organisation/Shared/RequestAccessSuccess.cshtml")

<main role="main" class="govuk-main-wrapper" id="main-content">

    @await RenderSectionAsync("organisationName", required: true)


    <div class="govuk-tabs">
        <h2 class="govuk-tabs__title">
            Contents
        </h2>

        @await RenderSectionAsync("tabs", required: true)

        @RenderBody()
    </div>
</main>

