@{
  Layout = "_Layout";
}

@await RenderSectionAsync("breadcrumbs", required: true)

<main role="main" class="govuk-main-wrapper" id="main-content">
  @await RenderSectionAsync("organisationName", required: true)
  @Html.PartialAsync("~/Views/Organisation/Shared/RequestAccessSuccess.cshtml")
  @Html.PartialAsync("~/Views/Shared/_Alerts.cshtml")
  <div class="govuk-tabs">
    <h2 class="govuk-tabs__title">Contents</h2>
    @await RenderSectionAsync("tabs", required: true)
    @RenderBody()
  </div>
</main>
