.govuk-tag--empty {
  background: govuk-colour("white");
  color: govuk-colour("grey-1");
  border: 2px solid govuk-colour("grey-2");
  margin-bottom: govuk-spacing(3);
}

.govuk-tag--draft {
  background: govuk-colour("orange");
  margin-bottom: govuk-spacing(3);
}

.govuk-tag--published {
  background: $success-green;
  margin-bottom: govuk-spacing(3);
}

.govuk-tag--inline {
  margin-bottom: 0;

  .govuk-body & {
    margin-right: govuk-spacing(1);
  }
}
