.course-parts {
  @include govuk-responsive-margin(9, "bottom");

  &__item {
    @include govuk-responsive-margin(8, "top");
    border-top: 1px solid $govuk-border-colour;
    padding-top: govuk-spacing(6);
    position: relative;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__title {
    @include govuk-text-colour;
    @include govuk-font($size: 24, $weight: bold);
    @include govuk-grid-column(two-thirds);
    @include govuk-responsive-margin(6, "bottom");
    display: block;
    margin-top: 0;
  }

  &__action {
    @extend %govuk-link;
    @include govuk-font($size: 19);
    position: absolute;
    right: 0;
    top: 1.5em;
  }

  &__fields {
    @include govuk-clearfix;

    &__label {
      @include govuk-font($size: 19, $weight: bold);
      @include govuk-responsive-padding(1, "bottom");

      &--error {
        color: $govuk-error-colour;
        border-left: 5px solid $govuk-error-colour;
        padding-bottom: 0;
        padding-left: govuk-spacing(2);
        padding-top: govuk-spacing(1);

        + .course-parts__fields__value {
          border-left: 5px solid $govuk-error-colour;
          padding-left: govuk-spacing(2);
        }
      }
    }

    &__value {
      @include govuk-font($size: 19, $weight: normal);
      @include govuk-responsive-margin(4, "bottom");
      color: $govuk-text-colour;
      margin-left: 0;
      max-width: 500px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:last-of-type {
        margin-bottom: 0;
      }

      &--empty {
        color: $govuk-secondary-text-colour;
      }

      .govuk-link {
        display: block;
        margin-bottom: govuk-spacing(1);
      }
    }
  }
}
