%govuk-list--description {
    @include govuk-clearfix;
}

%govuk-list--description > dt {
    @include govuk-font($size: 19, $weight: normal);
    @include govuk-responsive-margin(4, "top");
    vertical-align: top;

    @include mq ($from: desktop) {
        float: left;
        width: 33.33%;
    }
}

%govuk-list--description > dd {
    margin-left: 0;
   
    @include mq ($from: desktop) {
        float: left;
        @include govuk-responsive-margin(4, "top");
        width: 66.66%;
    }
}

.govuk-list--description {
    @extend %govuk-list--description;
}
