@model CourseViewModel
@{
  var link = $"mailto:becomingateacher@digital.education.gov.uk?subject=Help%20with%20course%20{Model.Course.ProviderCode}%20{Model.Course.CourseCode}";
}

@if (Model.Course.StatusAsEnum == CourseRunningStatus.NotRunning)
{
  <div class="govuk-warning-text govuk-warning-text--inline">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <text>This course is not running.</text>
    </strong>
  </div>
  <p class="govuk-body">
    <text>It won&#8217;t appear online. To publish it you&#8217;ll need to <a href="@link">contact the Becoming a Teacher team</a>.</text>
  </p>
}
