@model FeeBasedCourseEnrichmentViewModel

@{
  var courseEnrichment = Model;
  var routeData = Model.RouteData;
}

  <div class="course-parts__item">
    <h3 class="course-parts__title">Course length and fees</h3>
    <a class="course-parts__action" href="@Url.Action("Fees", "Course", routeData)">Edit</a>
    <dl class="course-parts__fields">
      <dt class="course-parts__fields__label">
        Course length
      </dt>
      <dd class="course-parts__fields__value">
        @courseEnrichment?.CourseLength.DisplayText()
      </dd>
      <dt class="course-parts__fields__label">
        Fee for UK and EU students
      </dt>
      <dd class="course-parts__fields__value">
        @courseEnrichment?.FeeUkEu.DisplayText()
      </dd>
      <dt class="course-parts__fields__label">
        Fee for international students (optional)
      </dt>
      <dd class="course-parts__fields__value">
        @courseEnrichment?.FeeInternational.DisplayText()
      </dd>
      <dt class="course-parts__fields__label">
        Fee details (optional)
      </dt>
      <dd class="course-parts__fields__value">
        @courseEnrichment?.FeeDetails.DisplayText()
      </dd>
      <dt class="course-parts__fields__label">
        Financial support you offer (optional)
      </dt>
      <dd class="course-parts__fields__value">
        @courseEnrichment?.FinancialSupport.DisplayText()
      </dd>
    </dl>
  </div>

