@model OrganisationListViewModel;

@{
  ViewBag.Title = "Organisations";
  Layout = "_Layout";
}

<main role="main" class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Organisations</h1>
      <ul class="govuk-list">
        @foreach (var providerSummary in Model.ProviderSummaries)
        {
          <li>
            <h2 class="govuk-heading-m">
              <a href="@Url.Action("Show", "Organisation", new {instCode = providerSummary.ProviderCode})" class="govuk-link">@providerSummary.ProviderName</a>
              <span class="govuk-body govuk-!-font-weight-regular govuk-!-display-block">@providerSummary.TotalCourses course@(providerSummary.TotalCourses == 1 ? "" : "s")</span>
            </h2>
          </li>
        }
      </ul>
    </div>
  </div>
</main>
