@{
  var type = (string)TempData.Get("MessageType");
  var title = (string)TempData.Get("MessageTitle");
  var body = (string)TempData.Get("MessageBodyHtml");
}

@if (type != null)
{
  <div class="govuk-@type-summary" role="alert" aria-labelledby="@type-summary-heading" tabindex="-1" data-module="error-summary">
    <h3 class="govuk-@type-summary__title" id="@type-summary-heading">@title</h3>

    @if (body != null)
    {
      <div class="govuk-@type-summary__body">
        @Html.Raw(body)
      </div>
    }
  </div>
}
