@{
  IEnumerable<GovUk.Education.ManageCourses.ApiClient.Course> copyables = ViewBag.CopyableCourses as IEnumerable<GovUk.Education.ManageCourses.ApiClient.Course> ?? new List<GovUk.Education.ManageCourses.ApiClient.Course>();
  IEnumerable<string> copied = ViewBag.CopiedFields as IEnumerable<string>;
}

@if(!copyables.Any())
{
  <h4 class="govuk-heading-m">Use this content again</h4>
  <p class="govuk-body">When you&#8217;ve added content to this page, you can copy it to other courses</p>
}
else
{  
  <h4 class="govuk-heading-m">Use content from another course</h4>
  <p class="govuk-body">Fill in this page with content from another course.</p>
  @if(copied != null)
  {
    <div class="govuk-inset-text govuk-inset-text--success" role="alert" aria-labelledby="success-summary-heading-example-1">
      <h3 class="govuk-heading-s" id="success-summary-heading-example-1">
        Fields copied:
      </h3>
      <ul class="govuk-list">
        @if(copied.Any())
        {
          foreach(var copiedField in copied)
          {
            <li>@copiedField</li>
          }
        }
        else
        {
          <li>None</li>
        }
      </ul>
    </div>
  }
  <form class="govuk-form" method="GET">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="copy-from">Copy from</label>
      <select id="copy-from" name="copyFrom" class="govuk-select">
        <option value="" selected="selected"></option>
        @foreach(var copyable in copyables)
        {        
          <option value="@copyable.CourseCode">@copyable.Name (@copyable.CourseCode)</option>
        }
      </select>
    </div>
    <input type="submit" value="Copy content" class="govuk-button" />
  </form>
}
<hr class="related__section-break">