@{
  IEnumerable<CopiedField> copied = ViewBag.CopiedFields as IEnumerable<CopiedField>;
  CourseInfoViewModel copiedFrom = ViewBag.CopiedFrom as CourseInfoViewModel;
}

@if(copied != null && copied.Any())
{
  <div class="govuk-warning-summary" role="alert" aria-labelledby="success-summary-heading">
    <h2 class="govuk-warning-summary__title" id="success-summary-heading">
      Your changes are not yet saved
    </h2>
    <div class="govuk-warning-summary__body">
      <p class="govuk-body">
        We&#8217;ve copied these fields from @copiedFrom?.Name (@copiedFrom?.ProgrammeCode):
      </p>
      <ul class="govuk-list">
        @foreach(var copiedField in copied)
        {
          <li><a href="#@copiedField.Id-wrapper">@copiedField.Name</a></li>
        }
      </ul>
      <p class="govuk-body">
        Please check them and make your changes before saving.
      </p>
    </div>
  </div>
}
else if (copied != null)
{
  <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
    <span class="govuk-body govuk-body-l govuk-!-font-weight-bold" id="error-summary-heading">
      There was no content to copy from course @copiedFrom?.Name (@copiedFrom?.ProgrammeCode)
    </span>
  </div>
}
