<h4 class="govuk-heading-m">Formatting</h4>
<h5 class="govuk-heading-s related__heading-s">Links</h5>
<p class="govuk-body">Use square brackets [] around the link text and round brackets () around the link URL. Make sure there are no spaces between the brackets.</p>

<p class="govuk-body">For example:<br /> [GOV.UK](https://gov.uk/)</p>

<h5 class="govuk-heading-s related__heading-s">Lists</h5>
<p class="govuk-body">To create a bulleted list:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>use asterisks (*) to create a bullet point (hyphens also work)</li>
  <li>make sure there is one space after the asterisk</li>
  <li>leave 1 empty line space before the bullets start, and one after</li>
</ul>

<p class="govuk-body">For example:</p>
<p class="govuk-body">* list item 1<br/>* list item 2</p>
