@model AcceptTermsViewModel
@{
  ViewBag.Title = $"Accept Terms and Conditions";
}

<main role="main" class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Before you begin</h1>
      <p class="govuk-body">We need you to read and agree to our terms and conditions.</p>
      <p class="govuk-body">These set out your responsibilities when publishing content to Publish teacher training courses. This includes making sure your content:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>is relevant to the service and accurate</li>
        <li>is not offensive, inappropriate or discriminatory</li>
        <li>belongs to you</li>
      </ul>
      <p>Read our full <a href="@Url.Action("AcceptTerms", "Home")">terms and conditions</a>.</p>
      <hr class="govuk-footer__section-break">
      <form asp-controller="Home" asp-action="accept-terms" method="post">
        <div class="govuk-form-group">
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input asp-for="TermsAccepted" class="govuk-checkboxes__input" type="checkbox" />
              <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                I agree to the terms and conditions
              </label>
            </div>
          </div>
        </div>
        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>
</main>
