@model Microsoft.AspNetCore.Http.HttpRequest

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<p>
    
    
</p>

<p>

headers:
</p>
<dl>

@foreach (var h in Model.Headers)
{
    <dt>@h.Key</dt>
    <dd>@h.Value</dd>
}
</dl>
