@model ImportedCoursesViewModel
@{
    Layout = "_Layout";

}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        We’ve imported your training courses from UCAS
      </h1>

      <p>We found @Model.TotalCount courses belonging to @Model.OrganisationName.</p>

      <p>Check that your course information is correct. If there are any problems, you should contact the Becoming a Teacher team to let us know.</p>
      <p>To make any changes, for now you’ll still need to use UCAS web-link. Changes on UCAS will normally show here within one working day. </p>

      <p>Soon you’ll be able to add extra content to tell applicants more about you and your courses.</p>

      <p class="add-double-bottom-margin">In the future, you’ll be able to edit all course information here.</p>

      <div class="form-group">
        <a href="/courses" class="button">Check courses</a>
      </div>
    </div>
  </div>
