 @{ ViewBag.Title = "Something went wrong"; }

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Sorry, something went wrong</h1>
        <p>This may be because your session timed out or there was a system error.</p>
        <p>This could be because:</p>
        <ul>
            <li>the link you clicked is broken</li>
            <li>you entered an incorrect web address</li>
        </ul>
    </div>
</div>
