<div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1" data-module="error-summary">
  <h3 class="govuk-heading-m govuk-error-summary__title" id="error-summary-heading">
    This course needs attention in UCAS
  </h3>
  <p>Candidates can&#8217;t apply to this course because no training location has a publish value set to &ldquo;Yes&rdquo; in <a href="https://update.ucas.co.uk/netupdate2/Welcome.htm">UCAS web-link</a>. This course will not appear in Find postgraduate teacher training.</p>

  <p>
    To allow candidates to find and apply to this course, you must set the publish value of all currently running training locations to &ldquo;Yes&rdquo;.
  </p>
</div>