@model OrganisationListViewModel

@{
    ViewBag.Title = "Organisations";
    Layout = "_Layout";
}

<div class="grid-row add-double-bottom-margin">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Organisations
        </h1>
    </div>
</div>
@foreach (var organisation in Model.Oganisations)
{
<h3 class="heading-medium remove-bottom-margin">
    <a href="@Url.Action("Index", "courses", new {ucasCode = organisation.UcasCode})">@organisation.OrganisationName</a>
</h3>
<p>@organisation.TotalCourses courses</p>
}
