@model HomeViewModel
@{
    string name = null;
    if (User.Identity.IsAuthenticated)
    {
        var nameClaim = User.Claims.FirstOrDefault(c => c.Type == "given_name");
        name = nameClaim?.Value;
    }
    var registerUrl = "https://signin-test-pfl-as.azurewebsites.net/register?client_id=bats&redirect_uri=https://localhost:44364/" + Model.RegistrationUrl;
}
<h2>Hello @(name??"Stranger")</h2>

<ul class="nav navbar-nav navbar-left">
    @if (User.Identity.IsAuthenticated)
    {
        <li><a href="@Url.Action("WhoAmI", "Auth")">Your Profile</a></li>
        <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>
    }
    else
    {
        <li><a asp-controller="Auth" asp-action="Login">Login</a></li>
        <li><a href="@registerUrl">Register</a></li>
    }
</ul>
<div class="clearfix"></div>